# Configurações do Servidor API
PORT=3001
NODE_ENV=development

# Conexão com o Banco de Dados (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/diskingressos_pdt?schema=public"

# Chave Criptográfica para Emissão e Validação HMAC-SHA256 de Vouchers (Catracas)
VOUCHER_SIGNING_SECRET="diskingressos-parque-jaime-lerner-secret-2026"
