# Configurações do Servidor API
PORT=3001
NODE_ENV=development

# Conexão com o Banco de Dados (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/parque_jaime_lerner_b2b?schema=public"

# Chave Criptográfica para Emissão e Validação HMAC-SHA256 de Vouchers (Catracas)
VOUCHER_SIGNING_SECRET="parque-jaime-lerner-b2b-secret-2026"

# Google Gemini API Key
GEMINI_API_KEY=""
